<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="EnableSSL" value="true" />
    <add key="EmailFromAddress" value="melovin@freshlawn.com" />
    <add key="MailAuthUser" value="melovin@freshlawn.com" />
    <add key="MailAuthPass" value="Pedida123" />
    <add key="MailReceipient" value="melovin@freshlawn.com" />
    <add key="MailServer" value="smtp.office365.com" />
    <add key="Port" value="587" />
  </appSettings>
<connectionStrings><add name="freshlawnContainer" connectionString="metadata=res://*/Model.freshlawn.csdl|res://*/Model.freshlawn.ssdl|res://*/Model.freshlawn.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FQR8SR7;initial catalog=freshlawn;user id=sa;password=pogiako123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>