<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="SMS.Properties.Settings.erpConnectionString" connectionString="Data Source=WINSERVER2016;Initial Catalog=erp;User ID=sa;Password=1p1cdbs3rv3r@2016"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <appSettings>
		<add key="server" value="******"/>
		<add key="database" value="***"/>
		<add key="username" value="sa"/>
		<add key="password" value="melovinsuperpogi"/>
		<add key="port" value="COM5"/>
		<add key="appTitle" value="SMS Notification"/>
		<add key="smtp" value="mail.xxx.com.ph"/>
		<add key="email" value="no-reply@xxx.com.ph"/>
		<add key="emailpw" value="******"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
</configuration>
